<phpunit bootstrap="vendor/autoload.php" failOnWarning="true">
<!--    <coverage includeUncoveredFiles="true" pathCoverage="true" ignoreDeprecatedCodeUnits="true"-->
<!--              disableCodeCoverageIgnore="true">-->
<!--        <report>-->
<!--            <clover outputFile="coverage/clover.xml"/>-->
<!--            <cobertura outputFile="coverage/cobertura.xml"/>-->
<!--            <crap4j outputFile="coverage/crap4j.xml" threshold="50"/>-->
<!--            <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90"/>-->
<!--            <php outputFile="coverage/coverage.php"/>-->
<!--            <text outputFile="coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>-->
<!--            <xml outputDirectory="coverage"/>-->
<!--        </report>-->
<!--    </coverage>-->
<!--    <source>-->
<!--        <include>-->
<!--            <directory suffix=".php">tests/testSrc</directory>-->
<!--        </include>-->
<!--    </source>-->
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="validators">
            <file>tests/ClassValidatorTest.php</file>
            <file>tests/EnumValidatorTest.php</file>
            <file>tests/FunctionValidatorTest.php</file>
            <file>tests/InterfaceValidatorTest.php</file>
            <file>tests/ConstantValidatorTest.php</file>
            <file>tests/PhpDocValidatorTest.php</file>
            <file>tests/StubsStructureValidatorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
